.container {
    max-width: 600px;
  }
  
  .card-title {
    text-align: center;
  }
  
  .img-thumbnail {
    border-radius: 50%;
  }
  /* update-profile.component.css */
textarea {
    resize: none; /* Disable resizing if desired */
  }
  
  textarea.is-invalid {
    border-color: red; /* Optional: highlight invalid textarea */
  }
  