<div *ngIf="showCertificate">
    <div class="image-container">
        <img src="../../../../assets/certifications/exam_certifications.png" alt="Exam Preparation"
            class="img-fluid rounded shadow" />
    </div>
    <div class="button-container">
        <button class="btn btn-primary" (click)="navigateToUserExams()">Go to Next Step</button>
    </div>
</div>
<div *ngIf="!showCertificate">
    <app-exam-details [examId]="examId"></app-exam-details>
</div>
<div class="feedback-container">
    <div *ngIf="!showCertificate">
       
        <h2>We'd love to hear your feedback!</h2>
        <textarea [(ngModel)]="feedbackText" placeholder="Enter your feedback here..." rows="5"
            class="feedback-textarea"></textarea>
        <div class="button-group">
            <button class="btn btn-primary" (click)="finishExam()">Finish Exam</button>
            <button class="btn btn-secondary" (click)="goBackToExam()">Go Back to Revisit/Review</button>
        </div>
    </div>
</div>